{% extends "layout.html" %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
{% endblock script %}

{% block content %}
<div class="card-header">
  <h1 class="fs-3" id="welcome">Welcome to the Euro App!</h1>
</div>

<div class="card-body">
  <h2 class="fs-4">Please login to continue.</h2>
  <em><a href="{{url_for('register')}}">
    No account? Click here to register.
  </a></em>
  <form method="POST" action="" class="form-control p-2">
      {{ form.csrf_token }}
      {{ form.username.label }} {{ form.username }}
      {{ form.password.label }} {{ form.password }}
      {{ form.submit }}
  </form>
  {% for error in form.errors %}
      <p class="error">{{ form.errors.get(error)[0] }}</p>
  {% endfor %}
</div>
{% endblock %}
